.header {
  border: 1px solid red;
  _position: fixed;
  _width: 100%;
  _height: 10vh;
  _padding: 2rem 0;
  _background: var(--primary);
  border-bottom: 1px solid var(--black);
  text-align: center;
}
