body {
  background-color: #050505;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("https://www.potsdam.de/system/files/styles/potsdam_main_node_full_xl_1x/private/images/2.jpg?h=4c1fc98e&itok=DXTxb-Hb");
  background-repeat: no-repeat;
  background-size: 1000px;
}

a {
  color: white;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  _color: rgba(255, 255, 255, 0.9);
  flex-basis: 500px;
  _-webkit-text-stroke-width: 1px;
  _-webkit-text-stroke-color: rgba(0, 0, 0, 1);
  font-size: 3.36rem;
  color: white;
  -webkit-text-stroke: 1px red;
  text-shadow: 0px 2px 6px black;
}

header {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
header nav {
  align-self: flex-start;
}

.article {
  position: relative;
  top: -110px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(34, 34, 34);
  background: rgba(102, 2, 2, 0.633);
}

section {
  position: relative;
  top: 10px;
  left: 0px;
}

.rotate {
  transform: rotate(-8deg);
  border: 1px solid white;
  box-shadow: 5px 0px 20px white;
  position: relative;
  top: -100px;
  left: 700px;
  z-index: 1;
  width: 375px;
  height: 100%;
}

.aside_1 {
  position: relative;
}

.footer ul {
  text-align: left;
  display: flex;
  align-items: last baseline;
  list-style: none;
}

.ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right {
  text-align: right;
  font-family: monospace;
}

.left {
  text-align: left;
}

.content {
  position: relative;
}

.content p {
  position: relative;
  top: 60px;
  left: 180px;
  font-size: 2.1rem;
  text-shadow: 0px 4px 6px black;
}
